
#sytycc {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;


    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 17px;
    /* color: rgba(255,255,255,.70); */
    margin: 0 0 20px;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 530px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: #fff;}
    to{border-right-color: transparent;}
  }

  .form-wrapper{
    border: 8px solid rgba(255, 255, 255, 0.2);
  }

  .a-member{
    margin-left: 15px;
  }

  .a-member a:hover {
   border-bottom: 2px solid white;
   padding-bottom: 7px;
    transition: 0.5s;
    color: #fff;
  }

  .a-member a{
    color: #fff;
    text-decoration: none;
  }

#login-form-container{
    height: 50%;
    width: 33%;
    
}

.modal-login{
    position: absolute;
    left: 20px;
    z-index: 200;
    height: 100%;
    overflow: auto;
    background-color: #1d1d1d;
    left: 100px;
    padding: 2rem;
    box-sizing: content-box;
}
/* 
#reg{
    filter: blur(8px);
} */

#inner-login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    display: relative;
    margin-top: 30px;
}

#inner-login-form-container a{
    color: white;
}

#login-form{
    display: flex;
    flex-direction: column;
}

#login-form input{
    margin-top: 30px;
}

#login-form input:first-child{
    margin-top: 0px;
}

#login-btn{
    margin-top: 30px;
    background-color: #024266;
    color: white;
    text-transform: uppercase;
    border: inherit;
}
